body{
 	background: #222;
}

.container{
	width: 650px;
	height: 450px;
	margin: 100px auto;
	border-radius: 25px;
	box-shadow: 0 20px 40px 0px rgba(0,0,0,0.3)
}

.header {
	height: 20%;
	background-color: #FF9800;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	text-align: center;
	position: relative;
}

#showWeather, #humidity-div {
	font-weight: bold;
	font-size: 60px;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.city-icon-holder {
	position:absolute;
	left: 25%;
	top: 40%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#city-name {
	font-size: 35px;
	font-weight: bold;
	color: #fff;
}

#main{
	width: 100%;
	height: 100%;
	position: relative;
}

.city-icon {
	height: 80%;
	width: 50%;
	border-bottom-left-radius: 25px;
	background-color: #FFC107;
}

.temperature {
	position: absolute;
	left: 50%;
	top:0%;
	height: 40%;
	width: 50%;
	background-color: #9C27B0;
}

.humidity {
	height: 40%;
	width: 50%;
	position:absolute;
	left:50%;
	top:40%;
	border-bottom-right-radius: 25px;
	background-color: #E91E63;
}

#submitCity {
	color: black;
	border-radius: 5px;
	height: 30px;
	width: 120px;
	box-shadow: none;
}

#city {
	color: red; 
	height:30px;
	border-radius: 5px;
	border-style: none;
	outline: none;
	padding-right: 1px;
	padding-left: 1px;
	text-align: center;
}

.search {
	position: absolute;
	left: 50%;
	top:50%;
	transform:translate(-50%,-50%);
}

button{
	background: white;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}