html{
	box-sizing: border-box;
}
body{
	background-color: #222;
}

.search {
	position: absolute;
	left: 50%;
	top:20%;
	transform:translate(-50%,-50%);
}

button{
	background: white;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#submitForecast {
	color: black;
	border-radius: 5px;
	height: 30px;
	width: 120px;
	box-shadow: none;
}

#city, #days {
	color: red; 
	height: 30px;
	width: 220px;
	border-radius: 5px;
	border-style: none;
	outline: none;
	padding-right: 1px;
	padding-left: 1px;
	text-align: center;
}

#divtable{
	position: relative;
	width: calc(100% - 100px);
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: lightgray;}
#table tr:nth-child(odd){background-color: gray;}

#table tr:hover {background-color: #FFC107;}

#table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #FF9800;
	color: white;
}
#header{
	padding: 15px;
	text-align: center;
	color: white;
	font-size: 22px;
}