body {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
	color: #cecece;
	background: #222;
	overflow: hidden;
}

body:after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 1;
	animation: thunder-bg 6s infinite;
}


#col1, #col2, #col3 { 
	padding: 20px;	
}

#col1{
	border-top-left-radius: 25px; 
	border-bottom-left-radius: 25px; 
	background-color: #9C27B0;
}
#col2{ 
	background-color: #E91E63;
}
#col3{
	border-top-right-radius: 25px; 
	border-bottom-right-radius: 25px; 
	background-color: #FF9800;
}


.container {
	position: relative;
	margin-right: 180px;
	margin-left: 180px;
	top: 300px;
	z-index: 300;
	display: flex;
	justify-content: center;
	border-radius: 25px;
}

.text-center{
	text-align: center;
	padding: 5px;
}

 .col-p{
	font-size: 18px;
	padding: 10px;
	text-align: center;
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

#canvas3 {
	z-index: 5;
}

#canvas2 {
	z-index: 10;
}

#canvas1 {
	z-index: 100;
}

.item-1, 
.item-2, 
.item-3 {
	position: absolute;
	display: block;
	width: 60%;
	z-index: 300;
	margin-top: 125px;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{ animation-name: anim-1;}

.item-2{ animation-name: anim-2;}

.item-3{ animation-name: anim-3;}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
	8.3%,25% { left: 25%; opacity: 1; }
	33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
	41.63%, 58.29% { left: 25%; opacity: 1; }
	66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
	74.96%, 91.62% { left: 25%; opacity: 1; }
	100% { left: 110%; opacity: 0; }
}