html {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: "Arial"
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.menu-area li a {
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;	
	display: block;
	padding: 0 25px;
	line-height: 30px;
	position: relative;
	z-index: 1;
}

.menu-area li {
	list-style: none;
	display: inline-block;
}

nav {
	position: relative;
	width: calc(100% - 60px);
	margin: 0 auto;
	padding: 10px 20px 10px 10px;
	background: black;
	z-index: 200;
	text-align: right;
	padding-right: 2%;
}

.logo {
	width: 15%;
	float: left;
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	text-align: left;
	padding-left: 2%;
}

.custom-padding{
	padding-top: 25px;
}

.menu-area a:hover {
	background: #faaf3a;
	color: #fff;
	border-radius: 25px;
}

nav:before {
	position: absolute;
	content: '';
	border-top: 10px solid black;
	border-right: 10px solid black;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 100%;
	left: 0;
}

nav:after {
	position: absolute;
	content: '';
	border-top: 10px solid black;
	border-left: 10px solid black;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 100%;
	right: 0;
}
